.navbar form {
    margin-left: 1em;
}

#topLevelContainer {
    margin-top: 1em;
}

#intro {
    margin: 2em 0;
}

#entries {
    position: relative; /* Required to anchor the position: absolute used below during transitions */
}

/* Transition states used by Vue when inserting/moving/removing entries */
.entries-move,
.entries-enter-active,
.entries-leave-active {
    transition: all 0.3s ease;
}

.entries-enter-from,
.entries-leave-to {
    opacity: 0;
    transform: scaleY(0);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.entries-leave-active {
    position: absolute;
}

.category-header {
    margin-top: 5em;
}

#intro + .category-header {
    margin-top: 0;
}

.category-label {
    opacity: 50%;
}

/*.card header {*/
/*    background: blue;*/
/*}*/

.card h3 {
    font-size: 100%;
    opacity: 60%;
    text-transform: uppercase;
}

.card {
    margin: 2em 0;
}

.main-acronym:before {
    content: "("
}

.main-acronym:after {
    content: ")"
}

.card .category {
    opacity: 70%;
}

.also-known-as {
    font-style: italic;
    opacity: 70%;
}

.also-known-as .acronym:after ,
.also-known-as .synonym:after {
    content: ", ";
}

.also-known-as :last-child:after {
    content: ""
}

.badges .badge {
    margin-right: 1em;
}

.links {
    font-size: smaller;
}

.links a {
    padding: 0 0.5em;
    border-right: 1px solid #666;
}

.links a:last-child {
    border-right: none;
}

.link .bi-exclamation-diamond-fill {
    font-size: 70%;
    background-color: #bb0000;
    padding: 0.2em;
    border-radius: 0.2em;
}

.entryPlaceholder {
    font-style: italic;
    opacity: 50%;
    margin-bottom: 0;
}
