:root {
    /* Palette: https://coolors.co/2b4150-6eacd8-78cebc-fff07c-ed6a5a */
    --charcoal1: #2B4150;
    --carolina-blue: #6EACD8;
    --tiffany-blue: #78CEBC;
    --maize: #FFF07C;
    --citrine: #E0C600;
    --bittersweet: #ED6A5A;
    --bittersweet-translucent: #ED6A5A10;
    --carolina-blue-rgb: 110, 172, 216;
    --carolina-blue-bright-rgb: 142, 191, 225;
    --richblack2-rgb: 21, 32, 40;
    --bgdarkmask: #00000077;

    --bs-body-bg: var(--charcoal1);
    --bs-heading-color: var(--carolina-blue);
    --bs-link-color-rgb: var(--carolina-blue-rgb);
    --bs-link-hover-color-rgb: var(--carolina-blue-bright-rgb);

    --bs-tertiary-bg-rgb: var(--richblack2-rgb);


    --bs-info-bg-subtle: #00000033;
    --bs-info-text-emphasis: var(--tiffany-blue);
    --bs-info-border-subtle: var(--tiffany-blue);

    --bs-warning-bg-subtle: #00000022;
    --bs-warning-text-emphasis: var(--bittersweet);
    --bs-warning-border-subtle: var(--bittersweet);

    .navbar-brand {
        --bs-navbar-brand-color: var(--maize);
        --bs-navbar-brand-hover-color: var(--maize);
        font-size: 1.5rem;
    }

    .toast {
        --bs-toast-bg: #00000033;
        --bs-toast-border-width: 2px;
        --bs-toast-border-color: var(--tiffany-blue);
        --bs-toast-header-color: var(--tiffany-blue);
    }
}

.navbar form {
    margin-left: 1em;
}

#topLevelContainer {
    margin-top: 1em;
}

#intro {
    margin: 2em 0;
}

#feedback {
    margin: 0 2em;
    font-size: 80%;
    width: 22em;
    transform: rotate(6deg);
    z-index: 1;

    p {
        margin: 0;
        + p {
            margin-top: 1em;
        }
    }
}

#entries {
    position: relative; /* Required to anchor the position: absolute used below during transitions */
}

/* Transition states used by Vue when inserting/moving/removing entries */
.entries-move,
.entries-enter-active,
.entries-leave-active {
    transition: all 0.3s ease;
}

.entries-enter-from,
.entries-leave-to {
    opacity: 0;
    transform: scaleY(0);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.entries-leave-active {
    position: absolute;
}

.category-header {
    margin-top: 5em;
}

@media (max-width: 768px) {
    /* On small devices, this removes unnecessarily large margin from the first category header */
    #entries > .category-header:first-child {
        margin-top: 0;
    }
}

.category-label {
    color: var(--tiffany-blue);
}

/*.card header {*/
/*    background: blue;*/
/*}*/

.card h3 {
    font-size: 100%;
    opacity: 60%;
    text-transform: uppercase;
}

.card {
    margin: 2em 0;
    --bs-card-bg: var(--bgdarkmask);
    --bs-card-cap-bg: #ffffff06;
}

.main-abbreviation:before {
    content: "("
}

.main-abbreviation:after {
    content: ")"
}

.card .category {
    opacity: 70%;
}

.also-known-as {
    font-style: italic;
    opacity: 70%;
}

.also-known-as .abbreviation:after ,
.also-known-as .synonym:after {
    content: ", ";
}

.also-known-as :last-child:after {
    content: ""
}

.badges .badge {
    margin-right: 1em;
}

.badge.region {
    background-color: var(--citrine);
}

.links {
    font-size: smaller;
    list-style: none;
    margin-top: 2em;
    margin-bottom: 0;
    padding-left: 0;

    .link::before {
        content: "🌐 ";
        margin-right: 0.5em;
    }

    .link.video::before {
        content: "📺 ";
    }

    .link-source {
        opacity: 60%;
        margin-left: 0.6em;
    }
}

.link .bi-patch-question-fill {
    font-size: 15px;
    color: var(--tiffany-blue);
    margin-left: -0.2em;
    padding-right: 0.1em;
}

.entryStub {
    font-style: italic;
    opacity: 50%;
    margin-top: 1em;
    margin-bottom: 0;
}

.toast-header {
    font-size: 120%;
    padding: 1em 3em;
}

[v-cloak] {
    display: none;
}
